@charset "utf-8";
.category { display:inline; overflow:hidden; margin: 10px; float:left; width:200px;}
.category dt{ height:25px; line-height:25px; border-bottom:1px dashed #e0e0e0;}
.category dt .more { color:#03539c; float: right; font-size:12px;}
.category dt .bt{ float:left; font-size:14px;}
.left_pic { float:left; height:200px; padding-top:8px; width:175px;}
.left_pic img { height:200px; width:175px;}
.right_txt { float:right; width:470px;}
.bigpic { float:left; height:340px; padding-right:3px; width:275px;}
.smallpic { float:right; width:390px;}
.smallpic li { display:inline; float:left; margin:0 0 5px 5px; height:167px; width:190px;}
.logo_list { border-bottom:1px dashed #cccccc; height: 155px; overflow: hidden;}
.logo_list li { float: left; display:inline; height: 72px; margin: 0 1px 5px 2px; text-align: center; width:130px; overflow: hidden;}
.logo_list li a img { max-height: 72px; max-width: 130px; vertical-align: middle;}
.logo_list_more { height: 50px; padding-top:10px;}
.logo_list_more li { display: inline; float: left; margin:0 8px 0 5px; width: 120px;}
.logo_list_more li a { display: block; color:#252525; height:25px; line-height:25px; width: 120px;}

.serve { height:640px;}
.serve li { background-image:url(../images/serve_bg.png); height:76px; margin-bottom:10px; padding:70px 20px 0; width:256px;}
.serve li p { color:#363636; font-size:14px; line-height:24px;}
.serve li p.right { text-align:right;}
.serve li.box1 { background-position: 0 0; border:2px solid #f9a900;}
.serve li.box2 { background-position: 0 -150px; border:2px solid #3bad1a;}
.serve li.box3 { background-position: 0 -300px; border:2px solid #dd2414;}
.serve li.box4 { background-position: 0 -450px; border:2px solid #0968c3;}
.step { background-color:#f6f6f4; border:1px solid #dd6008; height:128px; margin-bottom:10px; padding:10px; text-align:center;}
.step .txt{ font-size:14px; padding-left:10px; margin-bottom:20px; text-align:left;}
.right_row { margin-bottom:10px; height:150px; overflow:hidden;}
.dingzhi { background:url(../images/dingzhi.png) 0 center no-repeat #f0f5e6; border:1px solid #dd6008; float:left; height:148px; width:408px;}
.dingzhi .btn { float:right; width:112px;}
.btn_red { background:url(../images/icon_btn.png) 0 -65px no-repeat; border:0; color:#ffffff; display:block; font: 500 14px/37px "Microsoft YaHei"; height:37px; margin:0; padding:0; text-align:center; width:112px;}
.index_login { background-color:#f0f5e6; border:1px solid #dd6008; float:right; height:148px; width:268px;}

.slideshow { position:relative; height:310px; width:690px; overflow:hidden; z-index: 99;}
.slideshow ul { height:310px; width:690px; overflow:hidden;}
.slideshow ul li { display:block; width:690px; height:310px; overflow:hidden; position:relative;}
.slideshow .btnbg { background:#000000; height:30px; line-height:30px; font-size:14px; left:0; bottom:0; opacity: 0.7; position:absolute; width:690px;}
.slideshow .news { position:absolute; left:15px; bottom:0; overflow:hidden; width:500px;}
.slideshow .news a{ color:#cccccc;}
.slideshow .btn { position:absolute; right:25px; bottom:0; text-align:right; width:150px;}
.slideshow .btn span {display:inline-block; _display:inline; color:#959595; _zoom:1; margin-left:5px; cursor:pointer; width:20px;}
.slideshow .btn span.on { color:#ffffff;}
